{
  "DetailedErrors": true,
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultSqlite": "Data Source=auditor.db"
  },
  "MailConfig": {
    "SmtpServer": "smtp.yourserver.com",
    "SmtpPort": 587,
    "SmtpUsername": "yourUsername",
    "SmtpPassword": "yourPassword",
    "FromEmail": "youremail",
    "ToEmail": "destinationemail"
  },
  "JwtConfig":{
    "SecretKey": "yoursecretkey"
  }
}
