html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.dashboard-sidebar .nav-item:hover {
  background-color: #d7e2ec;
}

.dashboard-sidebar .nav-item {
  border-radius: var(--bs-nav-pills-border-radius);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dashboard-sidebar .nav-link {
  color: #fff !important;
}

.dashboard-sidebar .nav-item:hover > .nav-link:not(.active), 
.dashboard-sidebar .nav-link:not(.active):hover,
.dashboard-sidebar .nav-link:not(active):focus {
  color: #1a73e8 !important;
}