@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center h-100 d-flex flex-column justify-content-center">
    <h1 class="display-4">Gemma.</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
